// Primary
$primaryColor1: hsl(179, 62%, 43%);
$primaryColor2: hsl(71, 73%, 54%);
$primaryColor3: hsl(179, 47, 52);

// Neutral
$neutralColor1: hsl(204, 43%, 93%);
$neutralColor2: hsl(218, 22%, 67%);
$neutralColor3: hsl(183, 62%, 78%);
$neutralColor4: hsl(181, 58%, 64%);
