@use "./base" as *;
.main-container {
  border: 2px solid red;
  padding: 85px 30px;
  min-width: 325px;

  .img-header {
    border: 2px solid yellow;
    height: 230px;
    width: 100%;
    background-color: $accent;
    background-image: url("../images/image-header-mobile.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .main-content {
    border: 2px solid orange;
    text-align: center;

    .main-info {
      border: 2px solid pink;
      padding: 15px;

      h1 {
        font-size: 20px;
        padding: 10px;
        color: $mainHeadingStats;
        span {
          color: $accent;
        }
      }

      p {
        font-size: 12px;
        padding: 10px;
        line-height: 1.75;
        color: $mainParagraph;
      }
    }
    .content-stats {
      border: 2px solid green;
    }
  }
}

// Desktop Mode

@media (min-width: 768px) {
  .main-container {
    border: 2px solid blue;
    .img-header {
      background-image: url("../images/image-header-desktop.jpg");
    }

    .main-content {
    }
  }
}
