@use "./base" as *;
.main-container {
  border: 2px solid red;
  padding: 85px 30px;
  min-width: 325px;

  .img-header {
    border: 2px solid yellow;
    height: 250px;
    width: 100%;
    background-image: url("../images/image-header-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-content {
    border: 2px solid orange;
    text-align: center;

    .main-info {
      border: 2px solid pink;

      h1 {
        span {
          color: $accent;
        }
      }
    }
    .content-stats {
      border: 2px solid green;
    }
  }
}

// Desktop Mode

@media (min-width: 768px) {
  .main-container {
    border: 2px solid blue;
    .img-header {
      background-image: url("../images/image-header-desktop.jpg");
    }

    .main-content {
    }
  }
}
