:root {
  --main-bg-color: hsl(233, 47%, 7%); //main background
  --card-bg-color: hsl(244, 38%, 16%); //card background
  --accent: hsl(277, 64%, 61%); //accent
  --main-heading-stats-color: hsl(0, 0%, 100%); //main heading, stats
  --main-paragraph-color: hsl(0, 0%, 100%); //main paragraph
  --stat-headings-color: hsla(0, 0%, 100%, 0.6); //stat headings
}
