@use '../util/' as *;

.main-container {
  border: 2px solid red;
  // margin: 0 auto;

  min-width: rem(200);

  @include breakpoint(large) {
    max-width: rem(1115);
    height: rem(445);
    display: flex;
    flex-direction: row-reverse;
  }
}

.img-header {
  border: 2px solid blue;
  min-height: rem(240);
  // min-width: rem(20);
  background: url("../../images/image-header-mobile.jpg") var(--accent);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  @include breakpoint(medium) {
    background: url("../../images/image-header-desktop.jpg") var(--accent);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.main-content {
  padding: 30px;
}

.column {
  flex: 50%;

  // @include breakpoint-down(medium) {
  //   flex: 40%;
  // }
}
